<!DOCTYPE HTML>
<!--
	Alpha by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Travelog by Hadoop Hunters</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="stylesheet" href="/assets/css/main.css" />
		<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
       <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="angularjs/login.js"></script>	
		
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
										<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>
								<a href="#" class="icon fa-angle-down">Options</a>
								<ul>
									<li><a href="generic.html">Generic</a></li>
									<li><a href="contact.html">Contact</a></li>
									<li><a href="elements.html">Elements</a></li>
									<li>
										<a href="#">Submenu</a>
										<ul>
											<li><a href="#">Option One</a></li>
											<li><a href="#">Option Two</a></li>
											<li><a href="#">Option Three</a></li>
											<li><a href="#">Option Four</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li><a href="Signup.html" class="button">Sign Up</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>Travelog</h2>
					
					<ul class="actions">
						<li>
						<form method="post" action="LoginPage" >
						<input type="submit" value="Sign In" />
						</form>
						</li>
						<li>
						<form method="post" action="SignUpPage" >
						<input type="submit" value="Sign Up" />
						</form>
						</li>
					</ul>
				</section>

			<!-- Main -->
				<section id="main" class="container">

					<section class="box special">
						<header class="major">
						<h2>Beyond your dreams....Within our reach !
							</h2>
							<p>Enjoy the most exotic and fun places for your next vacation. Our system will filter out the best locations for your next travel based on Country, State and Location Type
							Also, the fun part is, attach your Facebook Profile to your Travelog account, and get free recommendations for your next trip based on your Facebook checkins. </p>
							
						</header>
						<span class="image featured"><img src="images/image4.jpg" alt="" /></span>
					</section>

					<section class="box special features">
						<div class="features-row">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>Check History</h3>
								<p>With Travelog you dont have to worry about the location..We will suggest you the locations</p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>Simple use</h3>
								<p>This application is very simple to use to any user</p>
							</section>
						</div>
						<div class="features-row">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<h3>Select your choice</h3>
								<p>Along with your history We will suggest you locations depending upon your preference as well</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Facebook Checkin</h3>
								<p>We request you to attach your facebook profile as we will check your facebook checkin to recommend places you like</p>
							</section>
						</div>
					</section>

					<div class="row">
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/image2.jpg" alt="" /></span>
								<h3>Explore Bali</h3>
								<p>In Bali you can have immense pleasure with natures scenary!!!and get a deep bath in crystal clear water</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrower)">

							<section class="box special">
								<span class="image featured"><img src="images/image3.jpg" alt="" /></span>
								<h3>Napa Valley</h3>
								<p>Napa Valley is the premier destination for wine lovers in the United States. Its wines are considered to be some of the best in the world with best serene beaches aside</p>
								<ul class="actions">
									<li><a href="#" class="button alt">Learn More</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>